/* Body */
body {
  margin: 0;
  box-sizing: border-box;
}

/* Header */
header {
  height: 90px;
  background: #2593d3 url(../img/pattern.png) top right;
  background-size: 460px 180px;
}
header img {
  width: 185px;
  padding: 37px 5px;
}

/* Main */
main {
  padding-left: 5px;
}

/* Title */
h1 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0;
}

/* Caption */
#caption {
  color: gray;
  margin-top: 0px;
  font-weight: 600;
}
#bluetext {
  color: #2593d3;
}

/* Photosection */
.photoTim {
  width: 570px;
  height: 390px;
}
#photocaption {
  font-size: smaller;
  font-weight: 500;
  margin-top: 0;
}

/* article1 and article2 */
.bgyellow {
  background-color: yellow;
}

/* Unordered List */
ul {
  padding-inline-start: 15px;
}

/* Table */
table {
  border-collapse: collapse;
}
tr th {
  text-align: left;
  min-width: 250px;
  background-color: #2593d3;
  color: white;
}
.bluerow {
  background-color: aquamarine;
}
